﻿/*set text color for paragraphs */
p {
    color: white;
    font-family: Garamond;
}

/*set background color */
body {
    background-color: #1B32A5; /* Dark Blue #00008B #233AAC*/
}

/*set font size for h1 */
 h1 {
    color: white;
    font-size: 28px;
    font-family: Garamond;

}

/* set font size and spacing for h4 */
h4 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
    font-family: Garamond;
    padding: 10px;
}

/* sent font size and spacing for h5 */
h5 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}

/*set font size for td */
td {
    color: black;
    font-size: 16px;
    font-family: Garamond;

}

/*set font size for th */
th {
    color: black;
    font-size: 20px;
    font-family: Garamond;
}

/* set font size for text */
.text {
    color: #F8F8FF;
    font-family: Garamond;
}

/* set html scroll behavior */
html {
    scroll-behavior: smooth;
}

/* set #theDiv tag settings */
#theDiv {
    color: white;
    width: 300px;
    border: solid #F0E68C 2px;
}

/* set #theDiv2 tag settings */
#theDiv2 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 1000px;
    border: solid #F0E68C 2px;
}

/* set #theDiv3 tag settings */
#theDiv3 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 300px;
    border: solid #F0E68C 2px;
}

/* set #theDiv4 tag settings */
#theDiv4 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 600px;
    border: solid #F0E68C 2px;
}

/*For sizing all images*/
img
{
    width: 100px;
    height:200px;
}


/* For centering images*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* for centering smaller images */
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


/*For putting three images side to side*/
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

/*For fixed footer of webpage*/
#footer {
    /* position: fixed; for fixed to bottom of the screen*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F0E68C;
    color: black;
    text-align: center;
}

/*-------------------------------- Navigation bar settings --------------------------------*/
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #F0E68C; /*Khaki*/
    font-family: Garamond;
}

    /* Links inside the navbar */
    .navbar a {
        float:left;
        font-size: 20px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 20px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Add a background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #BDB76B; /*Dark Khaki*/
    }

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F0E68C; /*Khaki*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /* Add a background color to dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #BDB76B; /*Dark Khaki*/
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}